@font-face {
    font-family: "Philosopher";
    src: url("../fonts/Philosopher-Regular.ttf");
}

@font-face {
    font-family: "League Spartan";
    src: url("../fonts/LeagueSpartan-Regular.ttf");
}

body {
    margin: 0;
    direction: ltr;
    user-select: none;
}

#container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: #222;
    align-items: center;
}

#canvas {
    height: 100vh;
    min-height: 720px;
}

#overlay {
    position: absolute;
    width: 100vw;
    max-width: max(177.78vh, 1280px);
    font: 18pt Philosopher, sans-serif;
}

#buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    justify-content: right;
    height: 32px;
    top: 16px;
    left: 16px;
    right: 16px;
    color: #bbb;
}

#buttons > * {
    margin: auto 0;
}

#buttons .message {
    visibility: hidden;
}

#confirm {
    margin-right: auto;
}

#confirm.highlight > * {
    color: lime;
    border-color: lime;
    visibility: visible;
}

label {
    padding-right: .5ex;
}

button, select {
    background: transparent;
    color: white;
    padding-bottom: 1.5px;
    border: solid white 1px;
    border-radius: 4px;
    font: 18pt Philosopher, sans-serif;
}

select>option {
    background: black;
}

.help {
    position: absolute;
    overflow: hidden;
    top: 25%;
    right: calc(50% + 128px);
    width: 450px;
    height: 50%;
    background: transparent;
}

#helpscroll {
    margin-top: 1000px;
    color: #bbb;
    font: 16pt Philosopher, sans-serif;
}

#helpscroll > :first-child {
    margin-top: 0;
}

#helpscroll > h2 {
    color: #ddd;
}
