@font-face {
    font-family: "Philosopher";
    src: url("../fonts/Philosopher-Regular.ttf");
}

@font-face {
    font-family: "League Spartan";
    src: url("../fonts/LeagueSpartan-Regular.ttf");
}

body {
    margin: 0;
    direction: ltr;
    user-select: none;
}

#container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: #222;
    align-items: center;
}

#canvas {
    height: 100vh;
    min-height: 720px;
}

#overlay {
    position: absolute;
    height: 100vh;
    min-height: 720px;
    width: 100vw;
    max-width: max(177.78vh, 1280px);
    font-family: Philosopher, sans-serif;
    color: #bbb;
}

#buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    justify-content: right;
    height: 32px;
    top: 16px;
    left: 16px;
    right: 16px;
    font-size: 18pt;
}

#buttons > * {
    margin: auto 0;
}

#buttons .message {
    visibility: hidden;
}

#confirm {
    margin-right: auto;
}

#confirm.highlight > * {
    color: lime;
    border-color: lime;
    visibility: visible;
}

label {
    padding-right: .5ex;
}

button, select {
    background: transparent;
    color: white;
    padding-bottom: 1.5px;
    border: solid white 1px;
    border-radius: 4px;
    font: 18pt Philosopher, sans-serif;
}

select>option {
    background: black;
}

#help {
    position: absolute;
    top: 25%;
    height: 50%;
    width: 100%;
    background: transparent;
}

#help > * {
    position: absolute;
    top: 0;
    width: 450px;
    height: 100%;
}

#commands {
    left: calc(50% + 140px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
    font-size: 24pt;
}

#commands > * {
    display: flex;
}

#commands > * > :first-child {
    width: 300px;
}

#commands > * > :last-child {
    margin: auto;
}

#about-container {
    overflow: hidden;
    right: calc(50% + 128px);
}

#about {
    margin-top: 1000px;
    font: 16pt Philosopher, sans-serif;
}

#about > :first-child {
    margin-top: 0;
}

#about > h2 {
    color: #ddd;
}
