body {
    margin: 0;
    direction: ltr;
    user-select: none;
}

#container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: #222;
    align-items: center;
}

#canvas {
    height: 100vh;
    min-height: 720px;
}

#overlay {
    position: absolute;
    width: 100vw;
    max-width: max(177.78vh, 1280px);
}

#buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    justify-content: right;
    height: 32px;
    top: 16px;
    left: 16px;
    right: 16px;
    color: #bbb;
    font-family: sans-serif;
    font-size: 18px;
}

#buttons > * {
    margin: auto 0;
}

#confirm {
    margin-right: auto;
    visibility: hidden;
    color: lime;
}

label {
    padding-right: .5ex;
}

select {
    background: transparent;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    padding: 3px;
}

select>option {
    background: black;
}

.help {
    position: absolute;
    overflow: hidden;
    top: 25%;
    right: calc(50% + 128px);
    width: 450px;
    height: 50%;
    background: transparent;
}

#helpscroll {
    margin-top: 1000px;
    color: #bbb;
    font: 18px sans-serif;
}

#helpscroll > :first-child {
    margin-top: 0;
}

#helpscroll > h2 {
    color: #ddd;
}
